*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:black;
color:white;
}



/* NAVBAR */

.navbar{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 60px;

position:absolute;
width:100%;

z-index:10;

}


/* SVG LOGO */

.logo svg{

width:200px;

}



/* NAV RIGHT */

.nav-right select{

background:black;
color:white;

border:1px solid gray;

padding:6px;

}

.signin{

background:#e50914;

color:white;

border:none;

padding:7px 16px;

margin-left:10px;

cursor:pointer;

}



/* HERO */

.hero{

height:90vh;

background:url("images/hero-bg.jpg") center/cover;

display:flex;

justify-content:center;
align-items:center;

text-align:center;

}


.hero-overlay{

background:rgba(0,0,0,0.6);

padding:300px;
width: 100%;
}


.hero h1{

font-size:55px;

}


.price{

margin:20px 0;

}


.email-box{

margin-top:20px;

}

.email-box input{

padding:14px;
width:280px;

}

.email-box button{

padding:14px 24px;

background:#e50914;

color:white;

border:none;

font-weight:bold;

cursor:pointer;

}



/* CURVE */

.curve{

height:80px;

background:linear-gradient(to right,#e50914,#000000);

border-bottom-left-radius:50%;
border-bottom-right-radius:50%;

}



/* TRENDING */

.trending{

padding:50px;

}


.movie-row{

display:flex;

gap:20px;

margin-top:20px;

}


.movie{

position:relative;

}


.movie span{

position:absolute;

font-size:40px;

font-weight:bold;

left:-10px;
bottom:-10px;

}


.movie img{

width:200px;

border-radius:10px;

transition:0.3s;

}

.movie img:hover{

transform:scale(1.1);

}



/* FEATURES */

.features{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:20px;

padding:40px;

}


.card{

background:#1c1c3c;

padding:25px;

border-radius:10px;

}



/* FAQ */

.faq{

padding:50px;

}


.faq-item{

margin-top:10px;

}


.faq-question{

width:100%;

padding:15px;

background:#333;

color:white;

border:none;

text-align:left;

cursor:pointer;

}


.faq-answer{

display:none;

padding:10px;

background:#222;

}



/* FOOTER */

footer{

padding:40px;

color:#aaa;

}


.footer-links{

display:grid;

grid-template-columns:repeat(4,1fr);

margin:20px 0;

}


.footer-links a{

color:#aaa;

text-decoration:none;

}


.country{

margin-top:20px;

}

.contact{
    color: #aaa;
}